body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

#logo {
  width: 300px;
  margin-bottom: 20px;
}

.animated-title {
  font-size: 2.5em;
  margin-bottom: 20px;
  animation: slideIn 2s ease-in-out infinite alternate;
}

@keyframes slideIn {
  from {
    transform: translateX(-50px);
  }
  to {
    transform: translateX(50px);
  }
}

.instructions {
  font-size: 1.2em;
  margin-bottom: 20px;
  text-align: center;
  max-width: 600px;
}

#playButton {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 0.5%;
}

#playButton:hover {
  background-color: #ddd;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

#backgroundImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: backgroundMove 10s linear infinite;
}

#background.transparent {
  opacity: 0.1;
  transition: opacity 0.5s ease;
}

#leaderboardContainer {
  position: absolute;
  top: 50%;
  right: 6%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: rgba(30, 30, 30, 0.8); /* Fond semi-transparent */
  color: #fff;
  z-index: 20; /* Assurez-vous que le conteneur est au-dessus de tout le reste */
  max-width: 500px;
  transition: all 0.5s ease; /* Animation pour les changements */
  font-size: 1.3em; /* Augmenter la taille du texte */
}

#lapsSelection {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#lapsDropdown {
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  background-color: #2c2929;
  color: #000000;
  border: none;
  border-radius: 5px;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

#lapsDropdown:hover {
  background-color: #322d2d;
}

#trackSelection {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.trackImage {
  width: 100px;
  height: 100px;
  cursor: pointer;
  margin: 0 10px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.trackImage:hover {
  border-color: #fff;
}

.trackImage.selected {
  border-color: #f00;
}

#mainMenuButton {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  background-color: #ff4757;
  color: #fff;
  border: none;
  border-radius: 5px;
  z-index: 1001; /* Assurez-vous que le bouton est au-dessus de tout */
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: none; /* Masquer le bouton initialement */
}

#mainMenuButton:hover {
  background-color: #ff6b81;
  transform: scale(1.1);
}

#debugMessage {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  display: none;
}

canvas {
  transform: scale(0.5);
  transform-origin: top left;
}